body{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-content{
    flex-grow: 1;
}
footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.portrait{
    width: 250px;
}
.SearchCountry{
    height: 30px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #333333;
}
.submitButton{
    height: 34px;
    color: #ffffff;
    background-color: #abbaaf;
    outline: 0;
    border-width: 0;
}